fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
httpx
boto3
pytest

# Genblaze
genblaze-core==0.3.4
genblaze-s3==0.3.4
genblaze-openai==0.3.1
genblaze-elevenlabs==0.3.1
genblaze-gmicloud==0.3.1

# Media
ffmpeg-python
Pillow

# Frontend
streamlit
